h1 {
  text-align: center;
}

.app {
  display: flex;
  gap: 10rem;
}

.upcoming {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.board {
  border: 2px solid black;
  user-select: none;
  margin: auto;
  width: fit-content;
}

.controls {
  flex-grow: 1;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.cell.hidden {
  visibility: hidden;
}

.cell.Empty {
  background-color: rgb(200, 200, 200);
}
.cell.I {
  background-color: rgb(80, 227, 230);
}
.cell.J {
  background-color: rgb(36, 95, 223);
}
.cell.L {
  background-color: rgb(223, 173, 36);
}
.cell.O {
  background-color: rgb(222, 21, 248);
}
.cell.S {
  background-color: rgb(48, 211, 56);
}
.cell.T {
  background-color: rgb(132, 61, 198);
}
.cell.Z {
  background-color: rgb(227, 78, 78);
}

.button-53 {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.playing-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.ingame-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
